<div data-controller="map" >

<div class="row">
  <div class="column" style="background-color:#aaa;">

   <div id="map" data-markers="<%= @markers.to_json %>"></div>

  </div>
  <div class="column" style="background-color:#bbb;">


<%= form_with(model: tool) do |form| %>

  <% if tool.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tool.errors.count, "error") %> prohibited this tool from being saved:</h2>

      <ul>
        <% tool.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="sign_up" class="container", style="text-align:center">
    <%= form.label :title, "Titre", style: "display: block," %>
    <%= form.text_field :title %>
  </div>

  <div id="sign_up" class="container", style="text-align:center">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div class="col">
    <%= form.label :pic,"Ajouter une image" %><br />
    <label class="bouton", style="margin:10px">
    Parcourir
    <span style="display:none;">
      <%= form.file_field :pic, id: "fileUploader"%>
    </span>
  </label>
  </div>

  <div id="sign_up" class="container", style="text-align:center">
  <%= form.label :location, "Localisation", style: "display: block" %>
  <%= form.hidden_field :location, id: 'tool_location' %>
  
    <div id="geocoder" class="container", style="margin-left:120px"></div>
 </div>
 






  <div>

  <div id="sign_up" class="container", style="text-align:center">

    <%= form.label :caution, style: "display: block" %>
    <%= form.text_field :caution %>
  </div>

  <div id="sign_up" class="container", style="text-align:center">
    <%= form.label :condition, "Etat", style: "display: block" %>
    <%= form.text_field :condition %>
  </div>

  <div id="sign_up" class="container", style="text-align:center">
    <%= form.submit %>
  </div>
<% end %>
</div>
</div>
