
<div id="<%= dom_id tool %>">
  <p>
    <strong>Title:</strong>
    <%= tool.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tool.description %>
  </p>

  <p>
    <strong>Pic:</strong>
    <%= image_tag tool.pic %>
    
  </p>

  <p>
    <strong>Loaned:</strong>
    <%= tool.loaned %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= tool.location %>
  </p>

  <p>
    <strong>Caution:</strong>
    <%= tool.caution %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= tool.condition %>
  </p>

</div>
