<div class="container">
  <div class="row">
    <div class="col-lg-12 mb-4 mb-sm-5">
      <div class="card card-style1 border-0">
        <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
          <div class="row align-items-center text-center">
            <div class="col-lg-6 mb-4 mb-lg-0">
              <%= image_tag @tool.pic, class:"tool_pic_show", style: "height:17em"%>
            </div>
            <div class="col-lg-6 px-xl-10" id="tool_show_title">
              <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded text-center">
                <span class="text-primary" style="font-size:20px"><%=@tool.title%></span>
              </div>
              <ul class="list-unstyled mb-1-9" id="tool_show_list">
                <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Actuellement disponible :</span>
                  <% if @tool.loaned === true %>
                    ❌
                  <%else%>
                    ✅
                  <%end%>
                </li>
                <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Montant de la caution :</span><%=@tool.caution%> €</li>
                <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Etat de l'outil :</span><%=@tool.condition%></li>
                <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Localisation :</span><%=@tool.location%></li>
                <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Annonce déposée le :</span><%=@tool.created_at.strftime('%d/%m/%Y') %></li>
                <button id="loan_button"><%= link_to "Emprunter l'outil", new_tool_loan_path(@tool), class:"loan_button"%></button>
              </ul>
            </div>
            <div class="col-lg-12 mb-4 mb-sm-5" id="tool_show_description">
              <div>
                <span class="text-primary mb-3 mb-sm-4">Caractéristiques techniques de l'outil :</span>
                <br>
                <%= @tool.description%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
