<%= render "/layouts/navbar"%>
<p style="color: green"><%= notice %></p>
<section class="bg-light">
<%= render @tool %>

<div class="d-flex justify-content-evenly">
  <button type="button" id="loan_button"><%= link_to "Retour aux outils", tools_path, class:"loan_button" %></button>
  <%= button_to "Supprimer l'annonce", @tool, method: :delete, class:"loan_button",id:"loan_button" %></button>
  <button type="button" id="loan_button"><%= link_to "Modifier l'annonce", edit_tool_path(@tool), class:"loan_button"%></button>
</div>
</section>
