<p style="color: green"><%= notice %></p>

<%= render @tool %>

<div>
  <%= link_to "Edit this tool", edit_tool_path(@tool) %> |
  <%= link_to "Back to tools", tools_path %>

  <%= button_to "Destroy this tool", @tool, method: :delete %>
</div>
