<h1 class="text-center"><%= pluralize(@tools.count, "résultat(s)")%></h1>

<%= render 'search/form' %>

<div class="container">
<table class="table table-dark table-striped">
<thead>
<tr>
<th><%= sort_link(@query, :title, "Title", default_order: :asc) %></th>
<th><%= sort_link(@query, :description, "Description") %></th>
<th><%= sort_link(@query, :location, "Localisation") %></th>
</tr>
</thead>

<tbody>
        <% @tools.each do |tool| %>
    <tr>
    <td><%= link_to tool.title, tool %></td>
    <td><%= tool.description.truncate_words(25) %></td>
    <td><%= link_to tool.location, tool.location %></td>
    </tr>
    <% end %>
</tbody>
</table>
</div>
