<%= render 'search/form' %>
<div id="back_to_annonces">
  <h1 id="title_results" class="text-center"><%= pluralize(@tools.count, "résultat")%></h1>
  <%=link_to "Retour aux annonces", tools_path, class:"text-center", style:"color:grey"%>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col"><%= sort_link(@query, :title, "Nom de l'outil",style: "text-decoration: none; color:black;" , default_order: :asc) %></th>
      <th scope="col"><%= sort_link(@query, :description, "Description",style: "text-decoration: none; color:black;")%></th>
      <th scope="col"><%= sort_link(@query, :location, "Localisation",style: "text-decoration: none; color:black;") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tools.each do |tool| %>
      <tr class="align-middle">
        <th scope="row"><%= tool.title.truncate(10) %><br><%= link_to "Troxer", tool, type:"button", id:"loan_button" ,class:"loan_button text-center" %></td></th>
        <td style="text-truncate"><%= tool.description.truncate(10) %></td>
        <td style="text-truncate"><%=tool.location.truncate(15) %></td> 
      </tr>
    <% end %>
  </tbody>
</table>