<%= render "/layouts/navbar"%>
<section class="bg-light">


<div id="cards-container" class= "container">
<div id="cards" class="row row-cols-1 row-cols-md-3 g-4">
  <% @user.tools.each do |tool| %>
  
   <div class="col">
    <div class="card">    
      <%= image_tag tool.pic, class:"card-img-top",style:"height:30em;"%>
      <div class="card-body">
        <h5 class="card-title  text-truncate"><%= tool.title %></h5>
        <p class="card-text">Actuellement disponible :</span>
          <% if tool.loaned === true %>
          ❌
          <%else%>
          ✅
          <%end%>
        </p>
        <p class="card-text">Caution :<%= tool.caution %> €</p>
        <p class="card-text  text-truncate">Etat de l'outil : <%= tool.condition %></p>
        <%= link_to "Voir l'annonce", tool ,id:"loan_button", class:"loan_button" %>
      </div>
       <div class="card-footer" style="text-align:center">
        <small >Postée le <%= tool.created_at.strftime('%d/%m/%Y')%></small>
      </div>
    </div>
    </div>
<%end%>
</div>

</section>

