<h1>Emprunter <%= @tool.title %></h1>

<%= form_with(model: @loan, url: tool_loans_path(@tool)) do |f| %>
  <%= f.label :start_date %>
  <%= f.date_select :start_date %>

  <%= f.label :end_date %>
  <%= f.date_select :end_date %>

  <%= f.submit %>
<% end %>